.single-video-container {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 3rem auto;
}

.single-video-container .video-play-box {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.video-player {
  width: 100%;
  height: 50rem;
}

.video-play-box .video-title {
  font-size: 2rem;
  margin-top: 1.2rem;
}

.video-play-box .single-video-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.single-video-info .total-view {
  font-size: 1.5rem;
  color: var(--ligtest-color);
}

.single-video-info .action-items {
  margin-right: 10px;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.action-items .action-btns {
  height: 3rem;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  background: none;
  border: none;
  gap: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

.action-icons {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.channel-intro {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--light-color);
  padding-top: 2rem;
}

.channel-intro .avatar {
  height: 5rem;
  width: 5rem;
}

.channel-intro .channel-name {
  margin-left: 2rem;
}

.channel-name h3 {
  font-size: 2rem;
}

.channel-intro .channel-name span {
  font-size: 1.2rem;
}

.single-video-container .explore-video {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60rem;
  overflow-y: scroll;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}

/* explore video container */

.explore-video-container {
  width: 80%;
  display: flex;
  margin-top: 2px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.explore-video-sub-container {
  display: flex;
  width: 100%;
}

.imgae-container1 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-color);
}

.imgae-container1 img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.explore-video-info {
  display: flex;
  flex-direction: column;
  margin: 7px;
}

.explore-video-info h4 {
  font-size: 1.2rem;
}

.explore-video-info span {
  color: var(--ligtest-color);
}

.explore-action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .single-video-container .video-play-box {
    width: 90%;
  }

  .explore-video-container {
    width: 90%;
  }

  .imgae-container1 {
    width: 70%;
  }
}

@media screen and (max-width: 1100px) {
  .video-player {
    height: 40rem;
  }
}

@media screen and (max-width: 900px) {
  .single-video-container {
    flex-direction: column;
  }

  .video-play-box {
    width: 100%;
    margin: auto;
  }

  .single-video-container .explore-video {
    width: 90%;
    margin: 4rem auto;
  }

  .explore-video-container {
    width: 90%;
  }

  .imgae-container1 {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .video-player {
    height: 30rem;
  }

  .explore-video-container .explore-video-sub-container {
    height: 15rem;
  }

  .imgae-container1 {
    width: 80%;
  }

  .explore-video-info {
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }

  .explore-video-info h4 {
    font-size: 1.5rem;
  }

  .explore-video-info span {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 500px) {
  .video-player {
    height: 20rem;
    width: 100%;
  }

  .explore-video-container {
    flex-direction: column;
  }

  .imgae-container1 {
    width: 90%;
    margin: auto;
  }

  .explore-video-info {
    margin: auto;
    width: 85%;
  }
}
