.single-video-container {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 3rem auto;
}

.single-video-container .video-play-box {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.video-player {
  width: 100%;
  height: 50rem;
}

.video-play-box .video-title {
  font-size: 1.7rem;
  margin-top: 1.2rem;
}

.video-play-box .single-video-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.single-video-info .total-view {
  font-size: 1.5rem;
  color: var(--ligtest-color);
}

.single-video-info .action-items {
  margin-right: 10px;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.action-items .action-btns {
  height: 3rem;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  background: none;
  border: none;
  gap: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

.action-icons {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.channel-intro {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--light-color);
  padding-top: 2rem;
}

.channel-intro .avatar {
  height: 5rem;
  width: 5rem;
}

.channel-intro .channel-name {
  margin-left: 2rem;
}

.channel-name h3 {
  font-size: 1.7rem;
}

.channel-intro .channel-name span {
  font-size: 1.2rem;
}

.single-video-container .explore-video {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explore-video .video-notecontainer {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: var(--light-color);
  width: 80%;
  height: 80%;
}
.video-notecontainer h3 {
  margin: 2rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 1200px) {
  .single-video-container .video-play-box {
    width: 90%;
  }

  .explore-video-container {
    width: 90%;
  }

  .single-video-info{
    flex-direction: column;
    justify-content: flex-start;
  }

  .single-video-info .total-view{
    width: 100%;
  }
  .single-video-info .action-items {
    width: 100%;
    margin-top: 1rem;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 1100px) {
  .video-player {
    margin-top: 10rem;
    height: 30rem;
  }
}

@media screen and (max-width: 900px) {
  .single-video-container {
    flex-direction: column;
  }

  .video-play-box {
    width: 100%;
    margin: auto;
  }

  .single-video-container .explore-video {
    width: 100%;
    margin: 4rem auto;
  }
  .explore-video .video-notecontainer {
    height: 20rem;
    margin-bottom: 4rem;
  }
 
}

@media screen and (max-width: 600px) {
  /* .video-player {
    height: 30rem;
  } */
}

@media screen and (max-width: 500px) {
  .video-player {
    height: 20rem;
    width: 100%;
    margin: 0;
  }
}
