.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--white-color);
}
.head-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hamburger-btn {
  background: none;
  border: none;
  padding: 0 2rem;
}

.head-container .logo{
  color: var(--black-color);
  font-weight: 500;
}
.icon {
  width: 2.3rem;
  height: 2.3rem;
  background: none;
  border: none;
  fill: var(--black-color);
  cursor: pointer;
}
.action-icon .btn{
    color: var(--white-color);
    background-color: var(--black-color);  
}

.action-icon .btn .link{
    margin-right: 0;
    color: var(--white-color);
}
