@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root{
    --primary: #FF0000;
    --white-color: #fff;
    --light-color: rgb(233, 232, 232);
    --ligtest-color: rgb(131, 131, 131);
    --black-color: #000;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
}

.header{
 background-color: var(--primary);
}
.head-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hamburger-btn {
    background: none;
    border: none;
    padding: 0 2rem;
}

.icon {
    width: 2.3rem;
    height: 2.3rem;
    background: none;
    border: none;
    fill: var(--white-color);
    cursor: pointer;
}
