
.sidebarIcon {
    fill: rgba(0, 0, 0, 1);
  }
  
  .sidebar {
      font-size: 1.6rem;
      width: 23rem;
      display: none;
      flex-direction: column;
      height: calc(100vh - 4rem);
      box-shadow: rgba(99, 99, 99, 0.2) 0px 3px 2px 0px;
      flex-shrink: 0;
    }
    
    .sidebar.active{
      display: flex;

    }
    .sidebar ul {
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-content: center;
      width: 100%;
      margin-top: 2rem;
    }
    
    .sidebar .sidebarListItems {
      width: calc(100% -2rem);
      height: 4rem;
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      padding-left: 1.5rem;
      overflow: hidden;
     
    }
    
    .sidebarListItems:hover {
      background-color: var(--light-color);
    }
    
    .sidebarIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      padding: 1rem;
      text-align: center;
      border-radius: 50%;
    }
    
    .sidebarText {
      width: 60%;
      color: var(--black-color);
      display: flex;
      justify-content: flex-start;
      margin-left: 2rem;
      text-decoration: none;
    }
  
